In [1]:
from budgetpanda import BudgetPanda

In [2]:
panda = BudgetPanda()

In [3]:
previous_month = panda.get_last_month_df(panda.transaction_df)
previous_month.head(n=5)

,Account Name,Category,Date,Description,Amount,Transaction Type
164,Chase Sapphire Reserve,Restaurants,2018-12-02,Bulkogi Truck,19.48,debit
165,Chase Sapphire Reserve,Restaurants,2018-12-02,Napoli Cafe,12.00,debit
162,Chase Sapphire Reserve,Restaurants,2018-12-02,Luna Rotisserie,25.00,debit
167,Chase Sapphire Reserve,Material Goods,2018-12-02,New York Times,5.00,debit
166,Chase Sapphire Reserve,Restaurants,2018-12-02,Chirba Chirba Dumplin,17.74,debit

In [4]:
previous_month.Category.value_counts()

Restaurants            48
Material Goods         33
Recurring               9
Coffee                  9
Income                  8
Transfer                8
Credit Card Payment     7
Health                  7
Transportation          3
Utilities               2
Groceries               2
Experiences             2
Rent                    1
Name: Category, dtype: int64

In [5]:
panda.get_category_df(previous_month, "Coffee")

,Account Name,Category,Date,Description,Amount,Transaction Type
159,Chase Sapphire Reserve,Coffee,2018-12-03,Kaffeinate,4.62,debit
126,Chase Sapphire Reserve,Coffee,2018-12-09,Milli Coffee Roasters,6.35,debit
131,Chase Sapphire Reserve,Coffee,2018-12-09,Milli Coffee Roasters,10.46,debit
118,Chase Sapphire Reserve,Coffee,2018-12-10,Milli Coffee Roasters,34.88,debit
112,Chase Sapphire Reserve,Coffee,2018-12-12,Cafein,15.85,debit
93,Chase Sapphire Reserve,Coffee,2018-12-17,People Coffee,10.00,debit
59,Chase Sapphire Reserve,Coffee,2018-12-28,Starbucks,5.15,debit
53,Chase Sapphire Reserve,Coffee,2018-12-30,Starbucks,5.15,debit
52,Chase Sapphire Reserve,Coffee,2018-12-30,Caffe Amouri,5.63,debit