In [1]:
from budgetpanda import BudgetPanda

In [2]:
panda = BudgetPanda()

In [3]:
previous_month = panda.get_last_month_df(panda.transaction_df)
previous_month.head(n=5)

,Account Name,Category,Date,Description,Amount,Transaction Type
164,Chase Sapphire Reserve,Restaurants,2018-12-02,Bulkogi Truck,19.48,debit
165,Chase Sapphire Reserve,Restaurants,2018-12-02,Napoli Cafe,12.00,debit
162,Chase Sapphire Reserve,Restaurants,2018-12-02,Luna Rotisserie,25.00,debit
167,Chase Sapphire Reserve,Material Goods,2018-12-02,New York Times,5.00,debit
166,Chase Sapphire Reserve,Restaurants,2018-12-02,Chirba Chirba Dumplin,17.74,debit

In [4]:
previous_month.Category.value_counts()

Restaurants            48
Material Goods         33
Coffee                  9
Recurring               9
Transfer                8
Income                  8
Credit Card Payment     7
Health                  7
Transportation          3
Experiences             2
Groceries               2
Utilities               2
Rent                    1
Name: Category, dtype: int64

In [5]:
panda.get_category_df(previous_month, "Experiences")

,Account Name,Category,Date,Description,Amount,Transaction Type
147,Chase Sapphire Reserve,Experiences,2018-12-04,Spotify,9.99,debit
133,Chase Sapphire Reserve,Experiences,2018-12-09,Nintendo Digital,64.49,debit